﻿body {
    --color-navbar-bkgnd: #333;
    --color-navbar-text: #eee;
    --color-info: brown;
    --color-item-even: #f9f9f9;
    --color-list-border: #ddd;

    --font-size-title: 18pt;
    --font-size-info: 10pt;
    --font-size-item-mobile: 14pt;
    --font-size-title-mobile: 24pt;


    background: #efefef;
}


.navbar {
    background: var(--color-navbar-bkgnd);
    color: var(--color-navbar-text);
}


.filter-box {
    margin: 0.5em;
}


h1 {
    font-size: var(--font-size-title);
}

#results {
    width: 100%;
}

.counter {
    font-size: var(--font-size-info);
    color: var(--color-info);
    margin-left: 1em;
}

.symbols {
    margin: 1em;
    border: 1px solid var(--color-list-border);
}


tr:nth-child(even) {
    background-color: var(--color-item-even);
}

.item-name,
.item-symbol {
    display: table-cell;
    vertical-align: top;
}


.item-symbol {
    width: 10%;
    padding-left: 5px;
    font-weight: 600;
}


.item-name {
    width: 90%;
    padding-left: 1em;
}



@media (max-width: 425px) {
    h1 {
        font-size: var(--font-size-title-mobile);
    }

    .hide-on-narrow {
        display: none;
    }

    .item-name,
    .item-symbol {
        font-size: var(--font-size-item-mobile);
    }

}